torch~=2.4.1
torchvision~=0.19.1
numpy~=1.24.4
gymnasium~=1.0.0
opencv-python~=4.10.0.84
sb3-contrib~=2.4.0
stable-baselines3~=2.4.0
pygame~=2.6.1
optuna~=4.1.0
optuna-integration~=4.1.0
matplotlib~=3.7.5
tqdm~=4.67.1
seaborn~=0.13.2
scikit-learn~=1.3.2